/* ==UserStyle==
@name        CSS-All sites
@description This is your new file, start writing code
@match       <all_urls>
==/UserStyle== */
@font-face {
    font-family : 'Apple SD Gothic Neo';
    src : local('-apple-system'), local('Apple SD Gothic Neo'), local('ui-sans-serif');
}

@font-face {
    font-family : 'Arial';
    src : local('-apple-system'), local('Apple SD Gothic Neo'), local('ui-sans-serif');
}

@font-face {
    font-family : 'AppleGothic';
    src : local('-apple-system'), local('Apple SD Gothic Neo'), local('ui-sans-serif');
}

@font-face {
    font-family : 'NanumGothic';
    src : local('나눔고딕'), local('ui-sans-serif');
}

@font-face {
    font-family: 'NanumMyeongjo';
    src : local('나눔명조'), local('ui-serif');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family : 'AppleMyungjo';
    src : local('나눔명조'), local('ui-serif');
}

@font-face {
    font-family : 'Gulim';
    src : local('ui-rounded');
}

@font-face {
    font-family : '굴림';
    src : local('ui-rounded');
}

@font-face {
    font-family : 'Dotum';
    src : local('-apple-system'), local('Apple SD Gothic Neo'), local('ui-sans-serif');
}

@font-face {
    font-family : '돋움';
    src : local('-apple-system'), local('Apple SD Gothic Neo'), local('ui-sans-serif');
}

@font-face {
    font-family : 'Batang';
    src : local('NanumMyeongjo'), local('ui-serif');
}

@font-face {
    font-family : '바탕';
    src : local('NanumMyeongjo'), local('ui-serif');
}

@font-face {
    font-family : 'Gungsuh';
    src : local('GungSeo'), local('ui-serif');
}

@font-face {
    font-family : '궁서';
    src : local('GungSeo'), local('ui-serif');
}

@font-face {
    font-family : 'GulimChe';
    src : local('ui-monospace');
}

@font-face {
    font-family : '굴림체';
    src : local('ui-monospace');
}

@font-face {
    font-family : 'DotumChe';
    src : local('ui-monospace');
}

@font-face {
    font-family : '돋움체';
    src : local('ui-monospace');
}

@font-face {
    font-family : 'BatangChe';
    src : local('Courier New'), local('NanumMyeongjo'), local('ui-monospace');
}

@font-face {
    font-family : '바탕체';
    src : local('Courier New'), local('NanumMyeongjo'), local('ui-monospace');
}

@font-face {
    font-family : 'GungsuhChe';
    src : local('Courier'), local('GungSeo'), local('ui-monospace');
}

@font-face {
    font-family : '궁서체';
    src : local('Courier'), local('GungSeo'), local('ui-monospace');
}

@font-face {
    font-family: '맑은고딕 Semilight';
    src: local('-apple-system'), local('AppleSDGothicNeo-Light'), local('ui-sans-serif');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: '맑은고딕';
    src: local('-apple-system'), local('AppleSDGothicNeo-Medium'), local('ui-sans-serif');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '맑은 고딕';
    src: local('-apple-system'), local('AppleSDGothicNeo-Bold'), local('ui-sans-serif');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: '맑은 고딕 Semilight';
    src: local('-apple-system'), local('AppleSDGothicNeo-Light'), local('ui-sans-serif');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: '맑은 고딕';
    src: local('-apple-system'), local('AppleSDGothicNeo-Medium'), local('ui-sans-serif');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '맑은 고딕';
    src: local('-apple-system'), local('AppleSDGothicNeo-Bold'), local('ui-sans-serif');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Malgun Gothic Semilight';
    src: local('-apple-system'), local('AppleSDGothicNeo-Light'), local('ui-sans-serif');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Malgun Gothic';
    src: local('-apple-system'), local('AppleSDGothicNeo-Medium'), local('ui-sans-serif');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Malgun Gothic';
    src: local('-apple-system'), local('AppleSDGothicNeo-Bold'), local('ui-sans-serif');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'YouTube Noto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://raw.githubusercontent.com/darkbrow/webfonts/main/woff2/NotoSansKR-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Monaco';
  font-style: normal;
  font-display: swap;
  src: url('https://raw.githubusercontent.com/darkbrow/webfonts/main/woff2/Monaco-D2Coding-H1024.woff2') format('woff2');
}

@font-face {
  font-family: 'Consolas';
  font-style: normal;
  font-display: swap;
  src: url('https://raw.githubusercontent.com/darkbrow/webfonts/main/woff2/ConsolasPL.woff2') format('woff2');
}

pre, code, .blob-code, .blob-code-marker{
    font-family : 'Consolas', 'ui-monospace' !important;
    font-size : 90%;
}
